In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
import psycopg2

In [2]:
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

True

In [3]:
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_NAME")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")

# Database connection string
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

In [4]:
# run this to check values of environment variables
# print(f"Host: {host}, Port: {port}, Database: {database}, User: {user}, Password: {password}")

Host: localhost, Port: 5432, Database: google_books_db, User: postgres, Password: 8750

In [6]:
# Create engine
try:
    engine = create_engine(connection_string)
    print("Connection successful!")
except Exception as e:
    print(f"Error creating engine: {e}")

# Query the database and load results into a DataFrame
query = "SELECT * FROM google_books_table;"
try:
    df = pd.read_sql(query, engine)
    print(df.head())  # Display first 5 rows of the result
except Exception as e:
    print(f"Error executing query: {e}")

Connection successful!
                                               title  \
0                The Theory of H(b) Spaces: Volume 2
1                                     The Story of B
2                                           So B. It
3  Ramble Book: Musings on Childhood, Friendship,...
4                                Jumping the Scratch

                                authors                   publisher  \
0  Emmanuel Fricain and Javad Mashreghi  Cambridge University Press
1                          Daniel Quinn                      Bantam
2                           Sarah Weeks                   Zondervan
3                           Adam Buxton            HarperCollins UK
4                           Sarah Weeks              Harper Collins

  published_date             isbn  page_count                 categories  \
0     2016-10-20  9781316351925.0         641                Mathematics
1     2010-01-13  9780307575234.0         350                    Fiction
2     2009-10-20  9780061978777.0         276           Juvenile Fiction
3     2020-09-03  9780008293352.0         348  Biography & Autobiography
4     2009-10-20  9780061978791.0         196           Juvenile Fiction

   average_rating  rating_count language  title_word_count
0             5.0             1       en                 7
1             4.5            16       en                 4
2             2.0             3       en                 3
3             5.0             1       en                11
4             5.0             1       en                 3

In [8]:
df.head(), df.shape

(                                               title  \
 0                The Theory of H(b) Spaces: Volume 2
 1                                     The Story of B
 2                                           So B. It
 3  Ramble Book: Musings on Childhood, Friendship,...
 4                                Jumping the Scratch

                                 authors                   publisher  \
 0  Emmanuel Fricain and Javad Mashreghi  Cambridge University Press
 1                          Daniel Quinn                      Bantam
 2                           Sarah Weeks                   Zondervan
 3                           Adam Buxton            HarperCollins UK
 4                           Sarah Weeks              Harper Collins

   published_date             isbn  page_count                 categories  \
 0     2016-10-20  9781316351925.0         641                Mathematics
 1     2010-01-13  9780307575234.0         350                    Fiction
 2     2009-10-20  9780061978777.0         276           Juvenile Fiction
 3     2020-09-03  9780008293352.0         348  Biography & Autobiography
 4     2009-10-20  9780061978791.0         196           Juvenile Fiction

    average_rating  rating_count language  title_word_count
 0             5.0             1       en                 7
 1             4.5            16       en                 4
 2             2.0             3       en                 3
 3             5.0             1       en                11
 4             5.0             1       en                 3  ,
 (22753, 11))